<template name="commentSection">
	<h2 class="info-sidebar-title" style="text-align: left; margin-top:20px">
		Specialist's Predicts
	</h2>

	<div id="commentList">
		{{#each submit in submitList}}
			<div class="d-flex flex-row mt-4 comment-item">
				<img src="/img/avatar.png" width="40" height="40">
				<div class="ml-2 w-100">
					<div class="d-flex justify-content-between align-items-center">
						<div class="d-flex flex-row align-items-center">
							<span class="font-weight-bold name">
								{{submit.doctorEmail}}
								<small class="text-muted time-text">{{formatDate submit.submitTime}}</small>
							</span>
						</div>
					</div>
					<p class="user-comment-text text-justify">{{submit.comment}}</p>
		
					<ul style="margin:0px 0px 15px 0px">
						{{#each label in getSelectedLabel submit.labels}}
							<li>{{label}}</li>
						{{/each}}
					</ul>	
				</div>
			</div>
		{{/each}}
	</div>

</template>
