<template name="dashboard">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon">
                    <img src="/img/logo.png" style="width: 5rem; max-width: 100%;"/>
                </div>
                <div class="sidebar-brand-text mx-3" style="font-size:15px;">Doctor Cylop</div>
            </a>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
        
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Features
            </div>

            <!-- Nav Item - Dashboard -->
            <div id="section-menu">
				<li name="chest_xray" class="nav-item active">
					<a class="nav-link" href="#">
						<i class="fas fa-columns"></i>
						<span>Your Patient Dashboard</span>
					</a>
				</li>
            </div>
            <!-- Divider -->

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-dark bg-dark topbar static-top shadow mb-0 pb-0">
                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <h2 id="section-title" style="font-size: 1.6rem;">
                        {{ title }}
                        <!-- {{> loginButtons}} -->
                    </h2>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <!-- <p>Welcome!</p> -->
                            <div style="color:white">
                                {{> loginButtons  align="right"}}
                            </div>
                        </li>
                    </ul>

                </nav>
                <!-- End of Topbar -->

				<div class="container-fluid pl-4 pr-4 pt-2">
					{{> Template.dynamic template=content}}
				</div>
            </div>
            <!-- End of Main Content -->
			<div></div>
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
</template>
