<template name="viewCase">
	<div class="d-flex" style="position: relative;">
		<div style="overflow-y: auto; max-height: 100vh"  class="scrollBar">
			<div style="height: 80vh; flex-grow: 1;">
				<ul id="viewer-images" style="display: none">
					<!-- {{#each image in imageList}}
						<li>
							<img src="{{image.url}}" alt="{{image.alt}}">
						</li>
					{{/each}} -->
				</ul>
			</div>
			<div style="min-width: 1500px">
				<div id="case-info" style="color:white">
					<h2 class="info-sidebar-title" style="text-align: left; margin-top:20px">
						Case's Info
					</h2>
					{{#with caseData}}
						<ul>
							<li>Patient's ID: {{patientId}}</li>
							<li>Submit Date: {{formatDate submitTime}}</li>
							<li>Doctor: {{doctorEmail}}</li>
						</ul>
					{{/with}}
				</div>
				{{> commentSection}}
			</div>
		</div>
		<div class="info-sidebar">
			<div id="prediction-sidebar" class="section">
				<h2 class="info-sidebar-title">
					RESULT
				</h2>
				<div class="form-group">
					<div style="height: auto; padding: 15px;" class="form-control bg-dark" id="output-log">
						<ul style="list-style-type: none; padding-left:0px">
							<li>ETT - Abnormal (0.82)</li>
							<li>ETT - Nomal (0.5)</li>
							<li>ETT - Borderline (0.4)</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="section" style="text-align:center;">
				<button type="button" style="width: 10rem;" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mb-2">
					<i class="fas fa-eye"></i>
					View all
				</button>

				<button type="button" style="width: 10rem;" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mb-2">
					<i class="fa fa-check-circle"></i>
					Relable
				</button>
			</div>
			<hr>
			<div class="section" id="relabelBar">
				<h2 class="info-sidebar-title">
					Re-Label
				</h2>
				<div class="form-group">
					<div style="height: auto; padding: 15px 20px;" class="form-control bg-dark" id="output-log">
						{{#each label in labelList}}
							<div class="form-check" style="margin-top:5px">
								<input class="form-check-input" type="checkbox" value="{{label}}" id="{{label}}">
								<label class="form-check-label" for="{{label}}">
									{{label}}
								</label>
							</div>
						{{/each}}
					</div>
				</div>
			</div>
			<div class="section" style="text-align:center;">
				<button type="button" id="btn-submit" style="width: 10rem;" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mb-2">
					<i class="fa fa-paper-plane"></i>
					Submit
				</button>
				<button type="button" style="width: 10rem;" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mb-2">
					<i class="fas fa-hand-paper"></i>
					Skip
				</button>
			</div>
		</div>

	</div>
</template>
