$scroll_track_color: rgba(255, 255, 255, 0.1);
$scroll_thumb_color: #11171a;

.scrollBar {
	&::-webkit-scrollbar {
		width: 5px;
		height: 5px;
	}

	&::-webkit-scrollbar-track {
		background-color: $scroll_track_color;
		border-radius: 10px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $scroll_thumb_color;
		border-radius: 10px;
	}
}
